.book-now-popup {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .popup-bg {
      background-color: white;
      border-radius: 20px;
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 50vw;
      height: 50vh;
    }
  
    .popup-content {
      text-align: center;
    }
  
    button {
        position: absolute; /* Absolute positioning within popup-bg */
        top: 10px;
        left: 10px;
        padding: 0.5rem 1rem;
        background-color: #007bff99;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
  }
  