body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-x: hidden; 
}

h1 {
  max-width: 50vw;
}

/* button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  scale: 1.1;
} */
#main{
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#cardsPage{
  display: flex;
  align-items: start;
  font-family: a;
  justify-content: center;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #fff;
  background: url(https://r4.wallpaperflare.com/wallpaper/923/524/16/luxury-hotel-swimming-pool-sunset-4k-wallpaper-82ed46f4098305d31a3c5820741b19b7.jpg);
  background-size: cover;
  background-position: center;
}