@font-face {
  font-family: 'customF';
  src: url('./fonts/Raleway-Bold.woff') format('woff'),
       url('./fonts/Raleway-Bold.ttf') format('truetype');
}


*{
  font-family: 'customF', sans-serif;
}
body {
  font-family: 'customF', sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-x: hidden; 
}

h1 {
  max-width: 50vw;
  border-radius: 10px;
}
#main{
  position: relative;
  overflow: hidden;
  background-color: #1137ca;
}

#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#cardsPage{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: start;
  font-family: a;
  justify-content: center;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
  position: relative;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #fff;
  background: url(src/assets/img2.jpg);
  background-size: cover;
  background-position: center;
}

#cursor {
  position: fixed;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background-color: #95b20075;
  z-index: 9;
  pointer-events: none;
  transform: translate(-50%, -30%);
}

#cardsPage #h1{
  font-size: 50px;
}
